/* ---------- Home Portfolio Grid ---------- */

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2.5rem;
  padding: 3rem 5%;
}

.portfolio-item {
  background: var(--surface);
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-6px);
}

.portfolio-item a {
  text-decoration: none;;
}

.portfolio-item img {
  width: 100%;
  display: block;
}

.portfolio-item h3 {
  padding: 1rem;
  font-family: var(--heading-font);
  font-size: 1.4rem;
  color: var(--primary-color);
}

/* ---------- Case Study Flow ---------- */
.portfolio-hero {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
}
.portfolio-hero img {
  height: 50%;
  width: 50%;
}

.portfolio-flow {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
}

.design-imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.design-imgs img {
  width: 150px;
  height:fit-content;
  justify-self: center;
}